@media screen and (max-width: 1024px) {
  .navbar-menu {
    display: none !important;
  }
  aside.menu {
    overflow-y: scroll;
    height: 95vh;
    position: fixed;
    right: -100%;
    width: 80% !important;
    background: #fff;
    z-index: 999999;
    top: 53px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    padding: 20px 20px;
  }

  aside.menu.open {
    right: 0%;
  }
}

@media screen and (max-width: 767px) {
  .charts-wrapper.columns.is-multiline > div {
    width: 100%;
  }
}
